<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if post %}
        <title>{{ post.title }}</title>
        <meta name="description" content="{{ post.title }}">
        <meta name="keywords" content="{%  for tag in post.tags %} {{ tag  }}{% endfor %}">
        <meta name="author" content="{{ post.author.name }}">
    {% else %}
        <title>Clean Blog</title>
        <meta name="description" content="python flask react blog">
        <meta name="keywords" content="python flask react blog">
        <meta name="author" content="shin">
    {% endif %}

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link href="css/clean-blog.min.css" rel="stylesheet">-->
    <link href="../static/css/clean-blog.css" rel="stylesheet">

    <!-- highlight for code -->
    <link href="../static/css/solarized_dark.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('blog.index') }}">CleanBlog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('blog.index') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('blog.about') }}">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/defshine" rel="nofollow">Github</a>
                    </li>
                    {% if user %}
                        {% if current_user.is_authenticated() %}
                            <li><a href="/admin" class="btn-info">Admin</a></li>
                            <li><a href="{{ url_for('blog.logout') }}" class="btn-info">Logout</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Main Content -->
    <div class="container main-container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; CleanBlog 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/lib/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/lib/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/clean-blog.min.js"></script>

    <script src="../static/js/lib/highlight.js"></script>
    <script>
        $(document).ready(function () {
            $('pre').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>

</body>

</html>
