{% extends 'base.html' %}
{% block content %}
    <div class="post-preview">
        <h1>{{ post.title }}</h1>
         {% if post.tags %}
            <span>Tags:&nbsp;</span>
            {% for tag in post.tags %}
                <span class="label label-info">{{ tag }}</span>&nbsp;
            {% endfor %}
         {% endif %}
        <p class="post-meta">Posted by <a href="#">{{ post.author.name }}</a> on {{ post.create_time | my_format_datetime}}</p>
    </div>
    <hr>
    <div>
        {% autoescape false %}
            {{ post.content }}
        {% endautoescape %}
    </div>
{% endblock %}

