{% extends 'base.html' %}
{% block content %}
    <div class="post-preview">
        <h1>{{ post.title }}</h1>
          {% if post.tags %}
            <ul class="list-unstyled list-inline">
                {% for tag in post.tags %}
                    <li><strong><span class="label label-info">{{ tag }}</span></strong></li>
                {% endfor %}
            </ul>
          {% endif %}
        <p class="post-meta">Posted by <a href="{{ url_for('blog.about') }}">{{ post.author.name }}</a> on {{ post.create_time | my_format_datetime}}</p>
    </div>
    <hr>
    <div>
        {% autoescape false %}
            {{ post.content }}
        {% endautoescape %}
    </div>
{% endblock %}

